<%= render partial: "shared/header"  %>

<ul class = "recipe_upload">
 <li class = "recipe_comment">レシピの投稿はこちらから</li>
 <li><%= link_to 'レシピを書く', new_recipe_path , class: "recipe_link" %></li>
</ul>

<div class = "recipe_category">
 <ul class= "manu">
  <li>1.和食</li>
  <li><%= link_to image_tag("washoku.png",  class:"recipe-icon"), "https://www.yahoo.co.jp/" %></li>
 </ul>

 <ul class= "manu">
  <li>2.洋食</li>
  <li><%= link_to image_tag("yosyoku.png",  class:"recipe-icon"), "https://www.yahoo.co.jp/" %></li>
 </ul>

 <ul class= "manu">
  <li>３.イタリアン</li>
  <li><%= link_to image_tag("italian.png",  class:"recipe-icon"), "https://www.yahoo.co.jp/" %></li>
 </ul>

 <ul class= "manu">
  <li>4.エスニック</li>
  <li><%= link_to image_tag("ethnic.png",  class:"recipe-icon"), "https://www.yahoo.co.jp/" %></li>
 </ul>

 <ul class= "manu">
  <li>５.その他</li>
  <li><%= link_to image_tag("others.png",  class:"recipe-icon"), "https://www.yahoo.co.jp/" %></li>
 </ul>

</div>


<%= render partial: "shared/footer"  %>
